/* ./resources/sass/app.scss */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'partials/_jumbo.scss';
@import 'partials/_content.scss';
@import 'partials/_footer.scss';

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3{
    font-family: 'Solway', serif;
}

.norican{
    font-family: 'Norican', serif;
}

html{
    scroll-behavior: smooth;
}

button:focus {
    outline-style: none;
}

